* {
  padding: 0;
  margin: 0;  
}
html{
    margin: 0;
}
body{
    margin: 0;
    
}

body,p, h1,h2,h3,h4,h5,h6{
    font-family: "Amatic SC", sans-serif;
}

p{
    font-size: 24px;
    color:white;
}
h4{
    font-size: 36px;
}

/*Creating the nav bar*/

.Nav-bar{
    overflow: hidden;
    background-color: black;
    line-height: 2.0;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

li a {
    text-decoration: none;
    color: white;
    float: left;
    padding: 10px;
}

.nav .nav-a:hover{
    background-color: darkgray;
    
}

/*Header + background img */

.header-main{
    max-width: 100%;
    height: 500px;
}

h1{
    font-size: 3.0em;
    color:white;
}

.title{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}

.title-one{
    font-size: 100px;
}
.title-two{
    padding-bottom: 40px;
    font-size: 100px;
}

.imgs{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://boygeniusreport.files.wordpress.com/2017/08/burger.jpg?quality=98&strip=all&w=782");
    height: 760px;
    


}

.bottom-left{
    width: 140px;
    background-color: black;
    color:white;
    padding: 10px;
    margin-top: 120px;
    margin-left: 10px;
    
}

.menu-see{
    text-decoration: none;
    color:white;
    background-color: black;
    padding: 12px 14px;
    font-size: 36px;
    
}
.menu-see:hover{
    background-color: gray;
}


/*Menu part*/

.menu-main{
    background-color: black;
    height: 1300px;
    max-width: 100%;
}


.title-three{
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;

}

/*Food in menu */

.menu-eats{
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    font-size: 35px;
    border: 1px solid gray;

}

.eats{
    overflow: hidden;
    float:left; 
    width: 33.3%;
}

.food-one{
    max-width: 100%;
    
}

.eater{
    padding-right: 204px;
}

.eats:hover{
    background-color: gray;
}

.active{
    background-color: red;
}

h4{
    padding-top: 50px;
}
.food-info{
    color:#757575a9;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#choices{
    background-color: white;
    width: 70%;
    margin: 0 auto;
}

.price{
    padding: 0;
    margin: 0;
    color:red;
    float:right;
}


/*About Section */

.about{
    background-color: rgba(165, 42, 42, 0.678);
    max-width: 100%;
    padding-bottom: 30px;
    

}

.content{
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
}

#title-four{
    text-align: center;
    padding-bottom: 50px;
}

.para-one{
    padding: 10px 0;
}

#burgs{
    padding-top: 30px;
    height: 50%;
    width: 100%;
}

#open{
    padding: 15px 0;
    color: white;
    font-size: 36px;
}

.p-right{
    float: right;

}

.para-two{
    padding: 10px 0;
}

/*Contact Part*/
.contact{
    background-color: #607d8b;
    width: 100%;
    font-size: 24px;
}

.contact-size{
    width: 90%;
    margin: 0 auto;
}


#contacts{
    text-align: center;
    padding-bottom: 100px;
}

#find{
    margin-bottom: 15px;
}

.full{
    padding: 10px 0;
}

#Fyi{
    color: white;
    background-color: black;
    padding: 3px;
}

#rev{
    font-size: 36px;
    color: rgba(255, 255, 255, 0.658);
}

#rev-span{
    color:white;
}

.Tbox{
    padding: 30px 0;
    margin: 10px 0;
}

input[type=text] {
    width: 100%;
}

button{
    width: 100%;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 80px;
    cursor: pointer;
    background-color: #f1f1f1;
}

button:hover{
    background-color: lightgray;
}


/*Footer*/
footer{
    background-color: black;
    color: white;
}

#last{
    text-align: center;
    padding: 100px 0 ;

}

/*Media Quires */

/*for mobile*/

@media only screen and (max-width: 464px){
    .container{
        overflow: hidden;
    }
    
    .nav .nav-a {
        float: none;
        text-align: center;
        font-size: 30px;
        display: block;
    }

    .imgs{
        max-width: 100%;
        height: 450px;
    }
    li:hover{
        background-color: gray;
    }

    .title{
        padding: 90px;
    }

    .title-one, .title-two {
        font-size: 65px;
    }
    

    h4,.food-info, p{
        font-size: 30px;

    }

    .food-info{
        color: rgb(70, 69, 69);
    }

    #contacts{
        padding: 70px;
    }
    .bottom-left{
        display: none;
    }
    .menu-main{
        height: 1500px;
    }
    .menu-see{
        font-size: 26px;
    }

    .menu-eats{
        font-size: 35px;
    }

    .eats{
        float: none;
        width: 100%;
    }

    .para-two{
        font-size: 25px;
    }

    .full, #find {
        font-size: 30px;
    }

    
}

/*Between these section */
@media only screen and (max-width: 651px) and (min-width: 466px){
    .title{
        padding-top: 70px;
    }
    .menu-main{
        height: 1300px;
    }
}

/*For desktop*/
@media only screen and (max-width: 960px) and (min-width: 652px){
    .title{
        padding-top: 197px;
    }
    .menu-main{
        height: 1300px;
    }
}



